[submodule "services/user-service"]
	path = services/user-service
	url = git@github.com:fjsuarez/user-service.git
[submodule "services/ride-service"]
	path = services/ride-service
	url = git@github.com:fjsuarez/ride-service.git
[submodule "services/notification-service"]
	path = services/notification-service
	url = git@github.com:fjsuarez/notification-service.git
[submodule "services/review-service"]
	path = services/review-service
	url = git@github.com:fjsuarez/review-service.git
[submodule "services/admin-service"]
	path = services/admin-service
	url = git@github.com:fjsuarez/admin-service.git
[submodule "rideshare"]
	path = rideshare
	url = git@github.com:fjsuarez/rideshare.git
